@namespace AgraTV



<!-- Sidemenu Area -->
<div class="sidemen">
    <!-- Side Nav -->
    <div class="ecaps-sidenav" id="ecapsSideNav" style="overflow-y: hidden">
        <!-- Side Menu Area -->
        <div class="">
            <!-- Sidebar Menu -->
            <nav>
                <a href="/">
                    <h2 style="background-color: #0e084a;">Agra TV</h2>
                </a>
                <h4>Live Channels</h4>
                <ul class="sidebar-menu" data-widget="tree">
                    <li><a href="/live/derana"><i
                                style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/8/85/Derana_Logo.png); background-repeat: no-repeat; background-size: contain; background-position: center; height: 100%; padding: 5px 0px; margin-right: 5px; "></i>
                            Derana TV </a></li>
                    <li><a href="/live/adaderana"><i
                                style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/8/85/Derana_Logo.png); background-repeat: no-repeat; background-size: contain; background-position: center; height: 100%; padding: 5px 0px; margin-right: 5px; "></i>
                            Ada Derana News </a></li>
                    <li><a href="/live/itn"><i
                                style="background-image: url(https://i.ytimg.com/vi/X0mgvU5h6_8/maxresdefault.jpg); background-repeat: no-repeat; background-size: contain; background-position: center; height: 100%; padding: 5px 0px; margin-right: 5px; "></i><span>ITN
                                TV </span></a></li>
                    <li><a href="/live/hiru"><i
                                style="background-image: url(https://upload.wikimedia.org/wikipedia/en/1/15/Hiru_TV-Logo.png); background-repeat: no-repeat; background-size: contain; background-position: center; height: 100%; padding: 5px 0px; margin-right: 5px; "></i><span>Hiru
                                TV HQ </span></a></li>
                    <li><a href="/live/hiru2"><i
                                style="background-image: url(https://upload.wikimedia.org/wikipedia/en/1/15/Hiru_TV-Logo.png); background-repeat: no-repeat; background-size: contain; background-position: center; height: 100%; padding: 5px 0px; margin-right: 5px; "></i><span>Hiru
                                TV LQ </span></a></li>
                    <li><a href="/live/rup"><i
                                style="background-image: url(https://english.lankaviews.com/wp-content/uploads/2018/10/slrc.jpg); background-repeat: no-repeat; background-size: contain; background-position: center; height: 100%; padding: 5px 0px; margin-right: 5px; "></i><span>Rupavahini
                            </span></a></li>
                    <li><a href="/live/budh"><i
                                style="background-image: url(https://lakfreedom.info/images/tv/buddhist.jpg); background-repeat: no-repeat; background-size: contain; background-position: center; height: 100%; padding: 5px 0px; margin-right: 5px; "></i><span>The
                                Buddhist TV </span></a></li>

                </ul>
            </nav>
        </div>
    </div>
</div>