@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }



iframe {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    }
    
    /*****************************/
    
    .overlay {
      width: 10%;
      height: 10%;
      border-radius: 10%;
      -webkit-border-radius: 10%;
      -moz-border-radius: 10%;
      background: rgba(0,0,0,0.5);
      display: block;
      position: absolute;
      top: 0%;
      left: 0%;
    }
    
    .overlay h1 {
      text-align: center;
      padding-top: 100px;
      color: #fff;
      font-family: inherit;
    }
    
    .overlay p{
      text-align: center;
      width: 80%;
      margin: 0 auto;
      color: #fff;
      font-family: inherit;
      margin-bottom: 20px;
      transform-origin: top 0 left 0;
    }
    
    .overlay a {
      color: rgb(117, 117, 117);
    }