@page "/live/itn"

<iframe src="https://www.itn.lk/live/itntv" scrolling="no" width="100%" height="1080px" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>

<div class="overlay">
    <Live_menu></Live_menu>
</div>