@page "/live"
@page "/live/menu"
@namespace AgraTV



<a href="/live/derana"> Derana TV </a> <br/>
<a href="/live/itn"> ITN TV </a> <br/>
<a href="/live/hiru"> Hiru TV HQ </a> <br/>
<a href="/live/hiru2"> Hiru TV LQ </a> <br/>
<a href="/live/rup">  Rupavahini </a> <br/>
<a href="/live/budh">  The Buddhist TV </a> <br/>
