@page "/live/rup"

<iframe src="https://dammika.tulix.tv/iframe/plan1b.php?s=slrc1&amp;c=slrc1" scrolling="no" align="middle" width="100%"
    height="1080px" frameborder="1"></iframe>


<div class="overlay">
    <Live_menu></Live_menu>
</div>